@charset "utf-8";
.nav.nav-tabs {
	background-color: #BB446E;
	text-align: center;
}


body {
	background-color: #213454;
}
#header {
	background-image: url(../images/header.png);
	background-position: 0% 99%;
	background-size: 100% 100%;
	display: table;

}

#video {
	background-color: #CABF2F;
}
#carouselExampleIndicators1 {
	margin-right: -14px;
	margin-left: -14px;
}

.carousel-inner>.carousel-item>img,
.carousel-inner>.carousel-item>a>img {
	display: block;
	height: auto;
	max-width: 75%;
	line-height: 1;
	width: 75%;
}

.page-footer .container-fluid.text-center.text-md-left {
	
}
.page-footer {
	background-color: #BB446E;
}


#gif {
	background-color: #57A5A7;
}
.footer-copyright.text-center.font-italic {
	margin-top: -35px;
}

h1 {
	font-family: "Prizma Fine";
}
h3 {
	color: #ffffff;
	font-size: 30px;
	margin-top: 9px;
	float: none;
	text-decoration: none;
	text-shadow: 2px 2px 4px #E584A6;
	background-color: #8D3A58;
	background-position: 0% 0;
	border-radius: 8px;
	text-indent: 10px;
}

h5 {
	font-family: "ft anima";
	color: #ffffff;
	font-weight: 400;
	transform: scaleY(0.906);
	font-style: normal;
	line-height: 20px;
	font-size: large;
	margin-top: -15px;
	font-variant: small-caps;
	text-transform: capitalize;
	letter-spacing: 10px;
	white-space: nowrap;
	padding-top: 5px;
}
h4 {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: normal;
	font-variant: small-caps;
	color: #FFFFFF;
	font-size: small;
	text-indent: 10px;
}
#slogan h2 {
	text-align: center;
	font-family: OpenDyslexicMono;
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	transform: scale(1.315,1.315);
}
#showcase {
}
